@model IEnumerable<GoogleMapsManager.Domain.GM_LocationManagers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Location Managers</h2>

<p>
    @Html.ActionLink("Create New Location Manager", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerEIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerDisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GM_Roles.RoleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GM_Locations.PlantName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerEIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerDisplayOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GM_Roles.RoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GM_Locations.PlantName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Home", "../Locations")
</div>